.all-container {
  display: flex;
  justify-content: center;
}

.form-builder-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(39, 41, 59, 0.85);
  width: 30%;
  color: white;
}

.controller-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top-color: azure;
  border-top-style: groove;
  border-bottom-color: azure;
  border-bottom-style: groove;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
}

.add-form-template-button {
  align-items: center;
  margin-top: 5px;
}

.form-name-field {
  width: 50%;
}

.controller-field {
  margin-bottom: 7px;
}
